.icon {
    margin-right: spacing(2)
  }

  .footer {
  margin: 50;
   
  }

  .nnn {

    width:"50 " ;
    height:"50 ";
    margin: 50 px;
  }

  .heroContent {
    background-Color: paper;
    padding: spacing(8, 0, 6)
  }
  .heroButtons {
    margin-Top: spacing(4),
  }
  .cardGrid {
    padding-Top: spacing(8);
    padding-Bottom: spacing(8)
  }
 .card{
    height: '100%';
    display: 'flex';
    flex-Direction: 'column';
  }
  .cardMedia {
    padding-Top: '56.25%';
  }
  cardContent {
    flex-Grow: 1;
  }